{% extends 'main.html' %}

{% block content %}

<div>
		{{ form.as_p }}

		<input type="button" value="register" id="submit">
	</form>
	<p>Already signed up yet?</p>
	<a href="{% url 'login' %}">Login</a>
</div>

<script>
	let username = document.getElementById('id_username');
	let password1 = document.getElementById('id_password1');
	let password2 = document.getElementById('id_password2');
	let email = document.getElementById('id_email');
	let messages = document.getElementById('messages');

	submit.addEventListener('click', send_signUp);

	function send_signUp() {
					let data = new FormData();

					data.append('username', username.value)
					data.append('password1', password1.value)
					data.append('password2', password2.value)
					data.append('email', email.value)
					data.append('csrfmiddlewaretoken', '{{ csrf_token }}')

					axios({
						method: 'POST',
						url: window.location.origin + '/account/sign-up/',
						data: data
					})
						.then(response => {
							body = response.data['signup'];

							console.log(body)

							if(body == 1) {
								div_message.innerHTML = 'Invalid data';
							}

							if(body == 0) {
								div_message.innerHTML = 'Success';
								window.location = '/';
							}
						})
						.catch(errors => console.log(errors))
				}

</script>

{% endblock %}