<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>New OLX</title>
   <link rel="stylesheet" href="{% static 'css/index.css' %}">
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

   {% include 'nav.html' %}

   <div id='messages'>
      {% if messages %}
         {% for mess in messages %}
            {{ mess }}
         
         {% endfor %}

      {% endif %}
   </div>


   {% block content %}

	{% endblock %}

   <script src="{% static 'js/index.js' %}"></script>

</body>
</html>