<!DOCTYPE html>

{% load static %}

<html lang="en" style="color-scheme: dark">
<head>
   <meta charset="UTF-8">
   <title>New OLX</title>
   <link rel="stylesheet" href="{% static 'css/index.css' %}">
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <script type="text/javascript" src="{% static 'js/head.js' %}"></script>
</head>
<body>

   {% include 'nav.html' %}

   <div id='messages'>
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <div></div>
   </div>


   {% block content %}

	{% endblock %}

   <script src="{% static 'js/body_end.js' %}"></script>

</body>
</html>