{% load static %}

<div class="nav">
  <div class="nav-item nav-home">
    <a href="{% url 'home' %}">
      <div style="width: 60px; float:left;">
        <img src="{% static 'svg/home.svg' %}" style="float: left; height: 100%; width: 60px;">
      </div>      
      <div style="height: 60px; width: calc(100% - 60px); float:left;">
          <span>Home</span>
      </div>
    </a>
  </div>

  <div class="nav-item nav-search">
      <div style="display: flex; margin-top: 7.5px;">
        <input type="text" placeholder="Search... <Topic / Description / Category / Host>" name="search" id="nav-search">
      </div>
  </div>

  {% if request.user.is_authenticated %}
    <div class="nav-item nav-login">
      <div style="display: flex; float: right">
        <a id="submit"><img src="{% static 'svg/logout.svg' %}" width="60px" height="60px" class="div_pointer"></a>
        <a id="settings"><img src="{% static 'svg/settings.svg' %}" width="60px" height="60px" class="div_pointer"></a>
      </div>

      <script> //Logout Button
        let logout = document.getElementById('submit');
        let settings = document.getElementById('settings');

        logout.addEventListener('click', send_logout);
        settings.addEventListener('click', send_settings);

        function send_logout() {
          let data = new FormData();

          data.append('csrfmiddlewaretoken', '{{ csrf_token }}');

          axios({
          method: 'POST',
          url: window.location.origin + '/account/logout/',
          data: data
        })
          .then(response => {
            body = response.data['logout']

            if(body == 0) {
              window.location = '/'
            }
          })
        }

        function send_settings() {
          window.location = `${window.location.origin}/account/settings/{{ user.username }}`;
        }  
      </script>

    </div>

  {% else %}
    <div class="nav-item nav-login" style="display: flex">
      <div class="nav-login-signup" style="font-size: 20px; height: 60px">
        <a href="{% url 'sign-up' %}"><img src="{% static 'svg/sign-up.svg' %}"></a>
        <a href="{% url 'sign-up' %}"><span>Sign Up</span></a>
      </div>

      <div class="nav-login-login" style="font-size: 20px; height: 60px">
        <a href="{% url 'login' %}"><img src="{% static 'svg/login.svg' %}"></a>
        <a href="{% url 'login' %}"><span>Login</span></a>
      </div>
    </div>

  {% endif %}
</div>