{% load static %}

<div class="nav">
  <div class="nav-item nav-home">
    <a href="{% url 'home' %}">HOME</a>
  </div>

  <div class="nav-item nav-search">
    <input type="text" placeholder="Search..." name="search" id="nav-search">
  </div>

  {% if request.user.is_authenticated %}
    <div class="nav-item nav-login">
      <input type="button" id="submit" value="Logout">
      <script>
        let submit = document.getElementById('submit');

        submit.addEventListener('click', send_logout);

        function send_logout() {
          let data = new FormData();

          data.append('csrfmiddlewaretoken', '{{ csrf_token }}')

          axios({
          method: 'POST',
          url: window.location.origin + '/account/logout/',
          data: data
        })
          .then(response => {
            body = response.data['logout']

            if(body == 0) {
              window.location = '/'
            }
          })
        }

      </script>
    </div>
  {% else %}
    <div class="nav-item nav-login">
      <a href="{% url 'sign-up' %}">Sign-Up</a>
      <a href="{% url 'login' %}">Login</a>
    </div>
  {% endif %}
</div>