{% extends 'main.html' %}

{% block content %}
	<div class="add-offer-list" style="margin-top: 1%">
	{# <form action="" method="POST" enctype="multipart/form-data"> #}
		{% csrf_token %}
		<div class="offer-titles">
			{% for field in form.fields %}
				<div><header>{{ field.capitalize }}</header></div>
				<hr><br>
			{% endfor %}
		</div>

		<div class="offer-values">
			{% for field in form %}
				<div>{{ field }}</div>
				<hr><br>
			{% endfor %}
		</div>

		<div style="clear: both; width: 80%; float: right">
			<input type="submit" id="add_offer" value="Add Offer" class="main-button">
		</div>
	{# </form> #}

	</div>
	
	<script type="text/javascript">
		let submit = document.getElementById('add_offer');

		let topic = document.getElementById('id_topic');
		let category = document.getElementById('id_category');
		let description = document.getElementById('id_description');
		let image = document.getElementById('id_image');
		let price = document.getElementById('id_price');
		//let tags = document.getElementById('id_tags');
		//let locationn = document.getElementById('id_location');

		submit.addEventListener('click', send_addOffer);

		function send_addOffer() {
			if(topic.value == '' || category.value == '' || price.value == '') {
				let req_f = document.querySelectorAll('input[required], select[required]');

				div_message.setAttribute('style', bad_messages);
				div_message_c.innerHTML = `<p>Fill in the required fields.</p>`;

				for(let i = 0; i < req_f.length; i++) {
					req_f[i].setAttribute('style', require_inputs);
				}

				
			}

			else {
				let data = new FormData();

				data.append('image', image.files[0]);

				data.append('topic', topic.value);
				data.append('category', category.value);
				data.append('description', description.value);
				data.append('price', price.value);
				//data.append('tags', tags.value);
				//data.append('location', locationn.value);
				data.append('csrfmiddlewaretoken', '{{ csrf_token }}');

				axios({
					method: 'POST',
					url: `${window.location.origin}/add-offer/`,
					data: data,
					headers: {
						'Content-Type': image.type
					}

				})
				.then(response => {
					body = response.data['addoffer'];
					
					if(body != 0) {
						div_message.setAttribute('style', bad_messages);
						div_message_c.innerHTML = `<p>${body}</p>`;
					}

					if(body == 0) {
						div_message.setAttribute('style', well_messages);
						div_message_c.innerHTML = '<p>Success</p>';
						window.location = '/';
					}
				});
			}
			
		}
	</script>

{% endblock %}