{% load static %}

{% if offers %}
	{% for offer in offers %}
		<div class="offer-list">
			<div class="offer-list-left offer-list-item">
				{% if offer.image %}
					<img src="{{ request.scheme }}://{{ request.get_host }}/media/{{ offer.image }}">
				
				{% else %}
					<img src="{{ request.scheme }}://{{ request.get_host }}/media/no-image.png">
				
				{% endif %}
			</div>
			<div class="offer-list-right offer-list-item">
				<header>{{ offer.topic }}</header>
				<div>{{ offer.description|truncatechars:255 }}</div>

				<div style="text-align: right;">
					{% if offer.price == 0.00 %}
						<span style="font-weight: bold;">FREE</span>

					{% else %}
						<span style="font-weight: bold;">{{ offer.price }} zł</span>

					{% endif %}
					<br>
					<span>{{ offer.host }} - {{ offer.created|date:"Y-m-d / H:i" }}</span>
				</div>
			</div>
		</div>
	{% endfor %}

{% else %}
	<p>No content to display</p>

{% endif %}

<script>
      let pattern = document.getElementById('nav-search');
      let pattern_svg = document.getElementById('svg1250');

      pattern.addEventListener('change', send_pattern);
      //pattern_svg.addEventListener('click', send_pattern);

      function send_pattern() {
        let data = new FormData();

        data.append('pattern', pattern.value);
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        axios({
          method: 'POST',
          url: window.location.origin + '/',
          data: data
        })
          .then(response => {
            document.getElementById('offers-list').innerHTML = response.data;
          })
      }

    </script>
